body
{
    font-family:Garamond !important;
    
    
    scrollbar-face-color: #0F74BB;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color:#FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #0F74BB;

}
#ui-datepicker-div { font-size: 11px; } 

#container {
   min-height:100%;
   position:relative;
}

#main-header div.header {
    background-image: url("../images/header.png");
    top: 0;
    height: 150px;
    width: 98%;
    position:fixed;
    z-index:3;
    background-repeat:no-repeat;
}

td.env 
{
    
    list-style-type: none;
    top: 2px;
    width: 80%;
    position: fixed;
    display: block;
    font-variant: small-caps;
    font-size: large;
    font-weight: bold;
    margin: 0;
    z-index:4;
    text-align:right;
    color:White;
}

td.envProd
{
    
    list-style-type: none;
    top: 2px;
    width: 80%;
    position: fixed;
    display: block;
    font-variant: small-caps;
    font-size: large;
    font-weight: bold;
    margin: 0;
    z-index:4;
    text-align:right;
    color: Maroon  ;
}

#cssmenu ul 
{
    
    list-style-type: none;
    top: 105px;
    width: 100%;
    position: fixed;
    display: block;
    font-variant: small-caps;
    font-size: large;
    font-weight: bold;
    margin: 0;
    padding: 0;
    z-index:4;
}

#cssmenu li {
    margin: 0;
    padding: 0;
}

#cssmenu li a {
    color: #1b1814;
    text-decoration: none;
    padding: 9px 15px 0;
    font-weight: normal;
}

#cssmenu li a:hover
{
    color: #e27100;
    text-decoration: none;
}

#cssmenu .selectedMenuItem {
        text-decoration: none;
        color: #e27100;
        border: 1px solid #1b1814;
}

#main-header h1.headertext {
    color: Blue;
}

#main-header h3 {
    color: #0c609b;
}



#hiddenPopupDiv .resultHeaderFooter,
#hiddenPopupDiv table.list,
#hiddenPopupDiv table.results,
#mainContent .resultHeaderFooter,
#mainContent table.list,
#mainContent .CollapsePanel
{
    margin: 0px 20px 0px 20px;
    background-color:white;
    font-family: Garamond;
    font-size: 95%;
    
}
#mainContent .CollapsePanelHeader
{
    
    margin: 0px 20px 0px 20px;
    background-color: #0F74BB;
    color: #fff;
    font-weight: bold;
    float: none;
    padding: 2px 3px
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #88C4FF;
}
#mainContent .CollapsePanelChildHeader
{
    
    margin: 0px 20px 0px 20px;
    background-color: #88C4FF;
    color: #0F74BB;
    font-weight: bold;
    float: none;
    padding: 2px 3px
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #0F74BB;
}
#mainContent table.results {
	width: 95%;
	margin: 20px auto 20px auto; /* center the table */
	border-collapse: collapse; 
	}
#hiddenPopupDiv .tableHeader,

#mainContent .tableHeader
{
	font-weight:bold; color:#0F74BB; position: relative
}
#hiddenPopupDiv table.list,
#mainContent table.list {
	border: 1px solid gainsboro; }
#hiddenPopupDiv table.list tr th,
#mainContent table.list tr th {
	width: 10%;
	white-space: nowrap; }
#hiddenPopupDiv table.results tr td, #mainContent table.results tr th,
#mainContent table.results tr td, #mainContent table.results tr th
{
	border: 1px solid #88C4FF;
	font-size: 85%;
}

#mainContent table.results tr:hover, table.results tr:hover
{
    background-color: #CBE6FF !important;
    border: solid 1px #FFB93F;
    color: #000000;
    padding: 0px 5px;
    text-decoration: none;
}


#hiddenPopupDiv table.list th,
#hiddenPopupDiv table.results th a,
#hiddenPopupDiv table.results th,
#mainContent table.list th,
#mainContent table.results th a,
#mainContent table.results th {
	font-weight: bold;
	padding: 2px 3px; }
#mainContent table.results thead tr th.sortasc  { background-color: #FFFFFF; background:url(../Images/collapse_blue.jpg) right center no-repeat; }
#mainContent table.results thead tr th.sortdesc  { background-color: #0F74BB; background:url(../Images/expand_blue.jpg) right center no-repeat; }
#hiddenPopupDiv table.results thead tr th,
#hiddenPopupDiv table.results th a,
#mainContent table.results th,
#mainContent table.results th a {
	background-color: #0F74BB;
	color: #fff; }
#hiddenPopupDiv table.list tr td, #mainContent table.results tr td,
#mainContent table.list tr td, #mainContent table.results tr td
{
	padding: 2px;
	color: #404040;
}
#hiddenPopupDiv table.results tr td,
#mainContent table.results tr td {
	vertical-align: middle;
	text-align:justify; }

#mainContent table.results tr td.Amt {
	font-weight: bold;
	text-align:Center; }
	
#mainContent table.results tr td.AmtPos {
	font-weight: bold;
	text-align:Center;
	color: #254117;
}
#mainContent table.results tr td.Status {
	font-weight: bold;
	text-align:Center;
}
	
#mainContent table.results tr td.AmtNeg {
	font-weight: bold;
	text-align:Center; 
	Color: #800000;
}
	
#mainContent table.results tr td.Check {
	vertical-align: middle;
	text-align:Center; }
		
#hiddenPopupDiv table.results tr.default td,	
#mainContent table.results tr.default td
{
	background-color: #FFEFDD;
}
#hiddenPopupDiv table.results tr.default td a,
#mainContent table.results tr.default td a {
	font-weight: bold; }
#hiddenPopupDiv table.results tr.special td,
#mainContent table.results tr.special td
{
	background-color: #E8F9FF;
}
#hiddenPopupDiv table.results tr td.static,
#mainContent table.results tr td.static
{
	font-weight: bold;
}
#hiddenPopupDiv table.results tr.special td a,
#mainContent table.results tr.special td a {
	color:#3776EA; }
#hiddenPopupDiv table.results tr.special td a:hover,
#mainContent table.results tr.special td a:hover {
	color:#FF7100; }
#hiddenPopupDiv table.results tr.default td.address,
#hiddenPopupDiv table.results tr td.address,	
#mainContent table.results tr.default td.address,
#mainContent table.results tr td.address {
	text-align: Right; }

#hiddenPopupDiv table.list tr.alt td,
#hiddenPopupDiv table.list tr.alt th,
#hiddenPopupDiv table.results tr.alt td,
#hiddenPopupDiv table.results tr.alt th,
#mainContent table.list tr.alt td,
#mainContent table.list tr.alt th,
#mainContent table.results tr.alt td,
#mainContent table.results tr.alt th {
	background-color: #D8E8FE; }
	
/********************** Table results grid/form field styles ********************/

#mainContent table.results tr td input[type=text],
#mainContent table.results tr td select,
#mainContent table.results tr td textarea { border: 1px solid #aaa;
	margin-left: 0px; background-image:url("../images/inputTextBG.jpg")
}
#mainContent table.results tr td textarea,
#mainContent table.results tr td select
{ background-image:none !important; }

#mainContent table.results tr td input.selected[type=text],
#mainContent table.results tr td select.selected,
#mainContent table.results tr td textarea.selected  { border-color: #0bacf9; background-image:url("../images/inputTextBG.jpg") }
#mainContent table.results tr td textarea.selected,
#mainContent table.results tr td select.selected
{ background-image:none !important; }

#mainContent table.results tr td input.required[type=text],
#mainContent table.results tr td select.required,
#mainContent table.results tr td textarea.required { border-right: 4px solid #0bacf9; background-color: #effaff;background-image:url("../images/inputTextBG.jpg") }

#mainContent table.results tr td textarea.required
{ background-image:none; }

#mainContent table.results tr td input.uppercase,
#mainContent table.results tr td textarea.uppercase{ text-transform:uppercase;}

#mainContent table.results tr td input.invalid[type=text],
#mainContent table.results tr td select.invalid,
#mainContent table.results tr td textarea.invalid
{
	border: 1px solid red;
	background-color: #FCF9F0;
	background-image: url(  "../images/inputTextBG_invalid.jpg" );
}
.checkBox
{
    background-color:#FCF9F0
}
#mainContent table.results tr td textarea.invalid,
#mainContent table.results tr td select.invalid
{ background-image:none;}

#mainContent table.results tr td input.required.invalid[type=text],
#mainContent table.results tr td select.required.invalid,
#mainContent table.results tr td textarea.required.invalid { border-right: 4px solid red; }

#mainContent table.results tr td input[disabled][type=text],
#mainContent table.results tr td select[disabled],
#mainContent table.results tr td textarea[disabled]
{
	border: 1px solid #AAAAAA;
	background-color: #F2F2F2;
	background-image: url(  "../images/inputTextBG_disabled.jpg" );
}
#mainContent table.results tr td textarea[disabled],
#mainContent table.results tr td select[disabled]
{ background-image:none;}

#mainContent table.results tr td input.required[disabled][type=text],
#mainContent table.results tr td select.required[disabled],
#mainContent table.results tr td textarea.required[disabled]{ border-right: 4px solid #AAAAAA; }
table.popupList{
	border: 1px solid #88C4FF;
	width: 100%;
	margin: 1px auto 1px auto; /* center the table */
	border-collapse: collapse; display:block;
}

table.popupList th,
table.popupList th a {
	color: #0F74BB; background-color:#D8E8FE;}
table.popupList tr td.subHeader 
{
 font-weight: bold;color: #fff; background-color: #0F74BB;
}
table.popupList td 
{
	vertical-align:middle; color:#777;border-bottom: solid 1px #D8E8FE; width:100%;
}

table.popupList th 
{
 vertical-align:middle; border-bottom: solid 1px white; white-space: nowrap; width:inherit;
}
	
	
.ui-dialog-title{
    font-size: 13px !important;
}

.ui-button-text {
    font-size: 13px !important;
    padding: 1px 1px 1px 1px; /* Or whatever makes it small enough. */
}

.ui-dialog-content   
{
     font-size: 13px !important;
   border: none; 
   padding: 0;
}



.grid {
    text-align: left;
    	
    margin: 0px 40px 0px 20px; /* center the table */
    
}

.jqGrid {
    text-align: left;
    	
    margin: 0px 20px 0px 20px; /* center the table */
    
}

.grid .pager SPAN.current, .grid .pager A.command, .grid TR.pager-row TD A
{
color: #0F74BB;
padding: 0px 5px;
text-decoration: none;
border: solid 1px #25AAE1;
background-color: #EFFAFF;

}
.grid .pager SPAN.command
{
color:Gray;
padding: 0px 5px;
text-decoration: none;
border: solid 1px Gray;
background-color: #EFFAFF;

}

/*
hover style 
*/
.grid .pager A.command:hover, .grid TR.pager-row TD A:hover
{
border: solid 1px #FFB93F;
background-color: #FFFFFF;
color: #000000;
padding: 0px 5px;
text-decoration: none;
}

/*
Selected 
*/
.grid .pager SPAN.current, .grid TR.pager-row TD SPAN
{
border: solid 1px #25AAE1;
font-weight: bold;
background-color: #0F74BB;
color: #FFFFFF;
padding: 0px 5px;
}



  
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -15px;
  z-index: 100000;
}
#mainContent .comment {
    margin-left: 2px !important;
    font-size: 75% !important;
}

ul
{
    list-style-type: none;
}
#mainContent .contentGroup table.inputFields th {
    text-align: right;
}
#mainContent span.hold
{
    background-color: #EFFAFF !important;
    display:inline-block;
    border: 1px solid #88C4FF;
    width:50px;
    font-size:95%;
}

#mainContent span.Released
{
    background-color: #87c387 !important;
    display:inline-block;
    border: 1px solid #88C4FF;
    width:50px;
    font-size:95%;
}

#mainContent span.Rejected
{
    background-color: #c38787 !important;
    display:inline-block;
    border: 1px solid #88C4FF;
    width:50px;
    font-size:95%;
}


#mainContent span.Moved
{
    background-color: #d7e1e5 !important;
    display:inline-block;
    border: 1px solid #88C4FF;
    width:50px;
    font-size:95%;
}

#mainContent span.GrandTotal
{
    background-color: #baddba !important;
    display:inline-block;
    border: 1px solid #88C4FF;
    width:50px;
    font-size:95%;
}

#mainContent span.APTCTotal
{
    background-color: #eeded2 !important;
    display:inline-block;
    border: 1px solid #88C4FF;
    width:50px;
    font-size:95%;
}
#mainContent span.MiscTotal
{
    background-color: #a5c4dd !important;
    display:inline-block;
    border: 1px solid #88C4FF;
    width:50px;
    font-size:95%;
}

#mainContent span.Invisible
{
    display:inline-block;
    width:50px;
    font-size:95%;
}
.autocomplete_completionListElement
{
    background-color : #0F74BB  ;
    max-height:150px;
    color : windowtext ;
    overflow: auto;
    margin : 0px!important;
    font-family : Callibri ;
    font-size : 90% ;
    margin-left:10px;
    padding: 05px;
    }
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color :  #EFFAFF ;
    color : BLACK ;
    font-weight: bold;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : #0F74BB ;
    color : #FFFFFF ;
   }

#main-footer span
{
   position:fixed;
   bottom:0;
   width:98%;
   float: left;
   height:14px;   /* Height of the footer */
   background:#0c609b;
   text-align: center;
   font-size: small;
   color: white;
   clear: both;
      z-index:3;

}


::-webkit-scrollbar {
    width: 11px;
	height: 11px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(15,116,187,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(15,116,187,0.1); 
}



.overlay 
{
 position: absolute;
 background-color: white;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 opacity: 0.8;
 -moz-opacity: 0.8;
 filter: alpha(opacity=80);
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 z-index: 10000;
}

 tables
table.tablesorterBlue {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table.tablesorterBlue thead tr th, table.tablesorterBlue tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorterBlue thead tr .header 
{
	background-image: url("../images/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorterBlue tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorterBlue tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorterBlue thead tr .headerSortUp {
	background-image: url("../images/asc.gif");
}
table.tablesorterBlue thead tr .headerSortDown {
	background-image: url("../images/desc.gif");
}
table.tablesorterBlue thead tr .headerSortDown, table.tablesorterBlue thead tr .headerSortUp {
background-color: #8dbdd8;
}


body.tablesorterBlue 
{
	font-family:arial;
	background-color: #CDCDCD;
	margin:20px 20pt 20px 20px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
} 
table.results tbody td .btn {
	horizontal-align: middle;
	display: block;
	margin:auto;
}

.formedit
{
    border:0;
    background-color:Gray;
}

.cmsedit
{
    border: 1px solid #4297d7;

    background: #2191c0 url("../images/ui-bg_gloss-wave_Red.png") 50% 50% repeat-x;

    color: #eaf5f7;

    font-weight: bold
}

.cmsview
{
    border: 1px solid #4297d7;

    background: #2191c0 url("../images/ui-bg_gloss-wave_50_6eac2c_500x100.png") 50% 50% repeat-x;

    color: #eaf5f7;

    font-weight: bold
}

th.ui-th-column div{
        white-space:normal !important;
        height:auto !important;
        padding:2px;
    }
    
    
 .navEnv
 {
      border: 1px solid #4297d7;

    background: #2191c0 url("../images/ui-bg_gloss-wave_50_6eac2c_500x100.png") 50% 50% repeat-x;

    color: #eaf5f7;

    font-weight: bold
 }